.notif-item:hover {
    background-color: whitesmoke;
}

.single-notif-container{
    width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
    
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 3px;
}

.notif-from-btn{
    background-color: white;
    color: black;
    border-color: white;
    max-width: 10vw;
    font-size: 12px;
    font-weight: bold;
}
.notif-from-btn:hover{
    background-color: #f6b93b;
    color: black;
    border-color: #f6b93b;
    max-width: 10vw;
    font-size: 12px;
    font-weight: bold;
}
.single-notif-all-tags-container{
    margin-left: 0vw;
    display: flex;
    flex-direction: row;
}
.notif-type-btn:disabled{
    background:none;
    border-color: white;
    color: black;
    font-weight: bold;
    width: 10vw;
    font-size: 12px;
}
.notif-date-btn:disabled{
    background: none;
    border-color: white;
    color: black;
    font-weight: bold;
    width: 10vw;
    font-size: 12px;
    margin-left:2.8vw;
    margin-right:2.8vw;
}
.notif-time-btn:disabled{
    background: none;
    border-color: white;
    color: black;
    font-weight: bold;
    width: 10vw;
    font-size: 12px;
    margin-left:2.8vw;
    margin-right:2.8vw;
}

