.main-notif-continer{
    border-radius:12px;
    margin-top: 20px;
    background-color: #343a40;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}