#navBarStyles {
  color: "green";
}
#loginStyles {
  margin: 10px;
  width: 100px;
  border: 4px solid #494949 !important;
  background:none;
  color: white;
  transition: 0.3s;
  font-weight: lighter;
}

#loginStyles:hover {
  background: #f6b93b;
  border-color: #f6b93b !important;

}

#searchBar {
  
  border-radius: 16px;
  background:whitesmoke;
  font-weight: lighter;
}

#searchBar:focus {
  background-color: #dfe5e7;
}

#searchButton {
  margin: 5px;
  background:none;
  color: white;
  transition: 0.3s;
  font-weight: lighter;
  border-radius:4px;
  border: 4px solid #494949 !important;

}

#searchButton:hover {
  background: #f6b93b;
  border-color: #f6b93b !important;
}


.myButton {
  box-shadow: 0px 10px 14px -7px rgb(168, 184, 101);
  background: linear-gradient(to bottom, #97b359 5%, #999940 100%);
  background-color: rgb(168, 184, 101);
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #4e3939;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 21px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3e6c8a;
}
.myButton:hover {
  background: linear-gradient(to bottom, rgb(0, 255, 98) 5%, #97b359 100%);
  background-color: rgb(168, 184, 101);
}
.myButton:active {
  position: relative;
  top: 1px;
}

.myNavbar {
  background-color: #082030;
}

.navbar-light .navbar-toggler {
  background-color: rgb(168, 184, 101);
  border-color: rgb(168, 184, 101);
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(168, 184, 101);
}
.navbar-light .navbar-nav .nav-link:hover {
  text-decoration: none;
  color: rgb(0, 255, 98);
}
.btn-outline-success:hover {
  color: rgb(70, 82, 78);
  background-color: rgb(0, 255, 98);
  border-color: rgb(0, 255, 98);
}
.btn-outline-success {
  color: rgb(70, 82, 78);
  background-color: rgb(168, 184, 101);
  border-color: rgb(168, 184, 101);
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(0, 255, 98);
}
.nav-link,
.nav-link:focus {
  color: rgb(168, 184, 101);
}
.dropdown-menu {
  background-color: rgb(70, 82, 78);
}
.dropdown-divider {
  border-color: rgb(168, 184, 101);
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: white;
  text-decoration: none;
  background-color: rgb(230, 240, 192);
}
.dropdown-item,
.dropdown-item:focus {
  font-weight:lighter;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.profileImage {
  border: 2px outset lightblue;
  border-radius: 16px;
}

#basic-nav-dropdown {
  color: whitesmoke;
  padding:12px;
  margin-right:12px;
  margin-left:12px;
  transition:0.4s;
}

#basic-nav-dropdown:hover {
  background-color: #8a8484;

}

#basic-navbar-nav {
  font-weight: lighter;
  color: 'white';
}