@media all and (min-width: 480px) {
  .UpdateCredentials {
    padding: 60px 0;
  }

  .UpdateCredentials form {
    margin: 0 auto;
    padding: 1vw;
    max-width: 320px;
    background-color: rgb(240, 238, 238);
    border-radius: 3px;
  }
}

.UpdateCredentials form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}
