.myButton {
  box-shadow: 0px 10px 14px -7px rgb(168, 184, 101);
  background: linear-gradient(to bottom, #97b359 5%, #999940 100%);
  background-color: rgb(168, 184, 101);
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #4e3939;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 21px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3e6c8a;
  margin-left: 10px;
}
.myButton:hover {
  background: linear-gradient(to bottom, rgb(0, 255, 98) 5%, #97b359 100%);
  background-color: rgb(168, 184, 101);
}
.myButton:active {
  position: relative;
  top: 1px;
}
