.create-portfolio-div{
    margin:auto;
    width: 70%;
    border-radius: 3px;
    height: 70vh;
    margin-top: 0.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: rgb(213, 222, 230);
}
