.portfolio-outer-div{
    margin-top: 0.5vh;
    height: 90vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 3px;
    background-color: white;
}

.your-portfolios-div{
    width: 60vw;
    border-radius: 3px;
    height: 70vh;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 0.5vh;
    background-color: rgb(213, 222, 230);
}
.own-portfolio-list-group-items{
    background-color: #fff;
}
.own-portfolio-list-group-items:hover{
    background-color: rgb(168, 184, 101);
}
.portfolio-list-item-badge{
    margin-left: 18vw;
    width: 20vw;
    margin-right: 18vw;
}