.trEq-remove-btn{
    float:right;
    background: none;
    border:none;
    color:#000000;
    font-size: 20px;
    letter-spacing: 3px;
}
.trEq-remove-btn:hover{
    background-color: rgb(204, 93, 93);
}
.trEq-remove-btn-div{
    display: flex;
    flex-direction: row;
}
