@media all and (min-width: 480px) {


  .Signup form {
    max-width: 320px;
    color: white;
  }
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.formWrapper {
  text-shadow: 1px 0px;

  width: 600px;
  margin: auto;
  transition: box-shadow .3s;

}

.formWrapper:hover {
  
  box-shadow: 0 0 30px rgba(33,33,33,.2); 

}
