
.submit-comment-btn {
  background-color: rgb(168, 184, 101);
  margin-left: 33.3%;
  margin-right: 33.3%;
  width: 33.4%;
  border-color: rgb(168, 184, 101);
}
.submit-comment-btn:hover {
  background-color: rgb(168, 200, 101);
  margin-left: 33.3%;
  margin-right: 33.3%;
  width: 33.4%;
  border-color: rgb(168, 200, 101);
}
#comment-badge {
  background-color: rgb(208, 217, 223);
  font-size: 20px;
  color: rgb(9, 19, 75);
}
#submit-comment-btn {
  background-color: white;
  color: black;
  width:140px;
  border-radius:8px;
}
