.card {
  background-color: white;
  width: 18rem;
  padding: 10px;
  margin: 10px;
}
.btn-primary {
  width: 100%;
  margin-top: 5px;
}
.user-name {
  background-color: rgb(168, 184, 101);
  border-color: rgb(168, 184, 101);
  width: 100%;
}
.user-name:hover {
  background-color: rgb(0, 255, 98);
  border-color: rgb(168, 184, 101);
  color: black;
  width: 100%;
}
