.comment-card {
  width:80%;
}

#commentBy {
  color:purple;
  font-weight: bold;
  background: none;
  border:none;
  border-bottom:2px solid purple;
  border-radius:0px;
  font-size:12px;
  width:auto;
  margin-right: 6px;
  transition: 0.4s;
}

#commentBy:hover {
  font-size:14px;
}