.card {
  background-color: whitesmoke;
  border:1px solid black;
  width: 18rem;
  padding: 10px;
  margin: 10px;
  transition: box-shadow .3s;
  border-left: 1.2px solid black;
  border-top:1.2px solid black;
}
.card:hover {
  box-shadow: 0 0 30px rgba(33,33,33,.2); 

}

.btn-primary {
  width: 100%;
  margin-top: 5px;
}
.user-name {
  background-color: rgb(168, 184, 101);
  border-color: rgb(168, 184, 101);
  width: 100%;
}
.user-name:hover {
  background-color: rgb(0, 255, 98);
  border-color: rgb(168, 184, 101);
  color: black;
  width: 100%;
}

#writtenBy {
  background-color:rgb(33, 12, 70);

}

#writtenBy:hover {
  color:white;
}

#articleCardButton {
  font-size:16px;
  width:150px;
  margin: 5px;
  background-color:'none';
  color: #673AB7;
  font-weight: lighter;
  border: none;
  border-radius:0;
  text-shadow: 0px 1px 0px #aca2e6;

}

#articleCardButton:hover {
  background:none;
  border-radius:12px;
  border-bottom: 1px solid black;
}

#cardContent {
  border-radius: 10px;
  border-left: 0.6px dotted black;
  border-right: 0.6px dotted black;
  transition: 0.3s;
}

#cardContent:hover {
  box-shadow: 0 0 30px rgba(33,33,33,.2); 
}