.modal {
  font-family: Georgia, serif;
  font-weight: lighter;
}
.main {
  font-family: Georgia, serif;
}
.first-div {
  background-color: white;

  padding:20px;
}
.second-div {
  background-color: white;

}


.by-author-button {
  background-color: rgb(168, 184, 101);
  width: 33.4%;
  border-color: rgb(168, 184, 101);
}

.my-par {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  border-color: red;
}
.article-header {
  border-bottom: 1.4px dotted black;
  padding:10px;
  font-size: 20px;
  margin-bottom:20px;
  transition: 0.5s;
}


.article-header:hover {
  font-size:22px;
}
.my-jumbotron {
  background-color: white;
  transition: 0.4s;

}
.third-div {

  width: 50%;
}

#writtenBy {
  color:white;
  font-weight: lighter;
  background-color:purple;
  border:2px solid purple;
  border-radius:0px;
  font-size:11px;
  width:auto;
  margin-right: 6px;

}

#writtenBy:hover {
  color:whitesmoke;
}

#rating {
  color:white;
  font-weight: lighter;
  background-color:rgb(55, 131, 118);
  border-radius:0px;
  font-size:11px;
  width:auto;
}

#articleContainer {
  border: 1px solid black;
  transition: 0.2s;
}

#articleContainer:hover {
  box-shadow: 0 0 30px rgba(33,33,33,.2); 
  border: 1.1px solid black;

}

#commentContainer {
  background-color: white;
  border:none;
  border-left: 1px solid black;
  transition: 0.2s;
}

#makeCommentContainer {
  background: none;
}

.annotationButton {
  font-size: 12px; 
  padding: 12px; 
  border-radius: 12px;
  background-color: rgb(29, 2, 2);
  color: white;
  transition: 0.3s;
  border-left:4px solid rgb(173, 165, 247);
  letter-spacing: 2px;
}

.annotationButton:hover {
  padding: 12px; 
  border-radius: 12px;
  background-color: rgb(126, 85, 85);
  color: white;
  cursor:pointer;
}

.operatedText {
  text-decoration: none;

}

.operatedText em {
  background-color:  #C02F1D;
}


.operatedText em:hover {
  text-decoration: none;

}

.a:hover{
  text-decoration: none;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
border:none;
outline:none;
}

.styledTextPart:hover{
  color: rgb(43, 94, 94);
  cursor: pointer;
}

.annotationScreenButton {
  font-size: 20px;
}

.annotationScreenButton:hover {
  color:rgb(43, 94, 94);
}
