.my-div {
  background-color: #343a40;
}
.by-author-button {
  background-color: rgb(168, 184, 101);
  margin-left: 33.3%;
  margin-right: 33.3%;
  width: 33.4%;
  border-color: rgb(168, 184, 101);
}
.by-author-button:hover {
  background-color: rgb(168, 200, 101);
  margin-left: 33.3%;
  margin-right: 33.3%;
  width: 33.4%;
  border-color: rgb(168, 200, 101);
}
.my-par {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
}
.article-header {
  margin-left: 33.3%;
  margin-right: 23.3%;
  padding: 2%;
  width: 33.4%;
  color: white;
  border-color: rgb(168, 184, 101);
  background-color: rgb(168, 184, 101);
  border-radius: 3px;
  font-size: 20px;
}
