.field-container {
  background-color: #343a40;
  color: white;
  padding:16px;
  margin:auto;
  margin-top:30px;
  width:50%;
  text-shadow: 0.4px 0px;
  min-height: 550px;
}

.field-container:hover {
  
  box-shadow: 0 0 30px rgba(33,33,33,.2); 

}


.form-control {
  border-color: black;
}
.btn-primary .for-post {
  margin-left: 33.3%;
  margin-right: 33.3%;
  width: 33.4%;
  background-color: rgb(168, 184, 101);
  border-color: rgb(168, 184, 101);
}

.btn-primary .for-post:hover {
  background-color: rgb(168, 200, 101);
  border-color: rgb(168, 200, 101);
}
.btn-primary .for-post:disabled {
  background-color: rgb(168, 184, 101);
  border-color: rgb(168, 184, 101);
}
