.field-container {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
.form-control {
  border-color: black;
}

.btn-primary {
  margin-left: 33.3%;
  margin-right: 33.3%;
  width: 33.4%;
  background-color: rgb(168, 184, 101);
  border-color: rgb(168, 184, 101);
}

.btn-primary:hover {
  background-color: rgb(168, 200, 101);
  border-color: rgb(168, 200, 101);
}
.btn-primary:disabled {
  background-color: rgb(168, 184, 101);
  border-color: rgb(168, 184, 101);
}
